:root{
 --pink-gray: #edd1f0;
 --pale-gray: #675078;
 --mid-gray: #6b5d75;
 --jean-gray: #645a85;
}
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
#header {
    background-color: var(--pink-gray);
    padding: 1.1rem 0;
}
#header .header-wrapper .logo{
    font-size: 1.5rem;
    line-height: 1.5;
}
#header .header-wrapper .logo a {
    color: black;
    letter-spacing: 5px;
}
#header .header-wrapper .user-actions {
    font-size: 1rem ;
    line-height: 1.5 ;
    gap: 1rem ;
}
#header .header-wrapper .user-actions .logout-btn{
    cursor: pointer;
}
#header .header-wrapper .user-actions a{
    color: black;
}
#header .header-wrapper .user-actions a:hover{
    text-decoration-line: underline;
}

.clear-filter {
    margin-top: 1rem;
}

.price-filter .price-filter-select > div {
    margin-bottom: 0.5rem;
}

.loader-backdrop {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.loader2 > div {
    border: 5px solid var(--jean-blue); 
    width: 5rem;
    height: 5rem;
    border-top: 5px solid #f0eeeb;
    border-bottom: 5px solid #f0eeeb;
    border-radius: 50%;
    animation: spinner2 2s linear infinite;
}

@keyframes spinner2 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}